xml/filmak.dtd

<!ELEMENT filmak (film)*>
<!ATTLIST filmak azkenid IDREF #REQUIRED>
<!ELEMENT film (data, izena,zuzendaria,iruzkina,balorazioa,karatula)>
<!ATTLIST film
    id ID #REQUIRED
    eskuragarri (true|false) “true”>
<!ELEMENT data (#PCDATA)>
<!ELEMENT izena (#PCDATA)>
<!ELEMENT zuzendaria (#PCDATA)>
<!ELEMENT iruzkina (#PCDATA)>
<!ELEMENT balorazioa (#PCDATA)>
<!ELEMENT balorazioa (#PCDATA)>